RUST_LOG=debug 
RPC_URL=https://sepolia.base.org 


PRIVATE_KEY=0x
CONTRACT_ADDRESS=0x5503099B6938424c91Ebd2bC23CA72b47DB42b12
PYTH_ADAPTER_ADDRESS=0x50B19cf995328a3523388c8C60004dA6246031ed

UPDATE_INTERVAL_SECONDS=10
PYTH_UPDATE_INTERVAL_SECONDS=120

PRICE_DIVERGENCE_THRESHOLD_BP=50

FF_API_KEY=

CG_API_KEY=

SLACK_TOKEN="xoxb-..."
SLACK_CHANNEL_ID="C..."